@inject IHostedService backgroundWork
<h3>BackgroundService</h3>

<section id="backgroundService">
    <div class="row">
        <h2>Background Service</h2>
    </div>
    <div class="row">
        <h4 id="ceas">Ceas: @backgroundWorkService.LastTimeRunBackgroundWork.ToString("hh:mm:ss")</h4>
        <h4>Service is Started: <span id="textIsBackgroundServiceStarted">ServiceIsStarted</span></h4>
    </div>
    <div class="row">
        @*<button class="btn btn-primary" @onclick="StartService">Create Plc List</button>*@
        <div id="btnStartBackgroundService" class="col-md-6 btn btn-default">Start Backgorund Service</div>
        <div id="btnStopBackgroundService" class="col-md-6 btn btn-default">Stop Backgorund Service</div>
    </div>
</section>
@code {
    BackgroundWorkService backgroundWorkService;
    protected override void OnInitialized()
    {
        backgroundWorkService = backgroundWork as BackgroundWorkService;
    }
}
