@inject ReportService raportService
<h3>Report Service Data Set</h3>

<p>Lista Mail raport: </p>
<input class="col-md-10" type="text" />
<p>Setare timp Raportare:</p>
<input type="time" />

@code {

}
