@model IEnumerable<Don_PlcDashboard_and_Reports.Models.PlcViewModel>
<script src="~/lib/charJs/Chart.min.js"></script> @*Chart JS*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>*@  @*Chart JS*@

<h1 class="display-4">
    Dashboard
</h1>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 plcModelView_border">
            <div style="width:100%">
                @await Component.InvokeAsync("UtilajViewComponent", new { numePlc = item.PlcModel.Name })
            </div>
        </div>
    }
</div>

